@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu&family=Commissioner&display=swap');

body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
    color: #d86508;
    background-color: rgba(8, 8, 8, 0.9);
    height: 100%;
    position: relative;
}

/* remove default styling from links */
a {
    color: inherit;
    text-decoration: none;
}

/* title, nav and footer elements */
header, footer {
    font-family: "Commissioner", Arial, Helvetica, sans-serif;   
}

/* title */
h1 {
    margin: 0 auto;
    font-weight: 300;
}
#header-background {
    width: 100%;
    background-color: #031F2c;
}
#big-name {
    text-align: center;
    font-size: max(5.4vh, 39px);
    padding: 10px 0 20px;
    letter-spacing: 0.3vw;
    text-shadow: #E28C46 1px 2px 10px;
}
#surname {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

/* nav bar */
#nav-bar {
    background-color: #d86508;
    color: #063449;
    font-size: 180%;
}
/* hide names */
#nav-bar p:nth-of-type(n+2) {
    visibility: hidden;
    position: absolute;
}

#nav-bar ul {
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
}

#nav-bar li {
    list-style-type: none;
    display: inline-block;
    width: 17.5%;
}

#nav-bar p {
    margin: 10px 0;
}

/* set styling for active page in nav bar */
#active {
    animation-name: color-fade;
    animation-duration: 2s; 
    color: #DD7827;
    font-size: 70%;
    position: relative;
}

/* animation tests */
#active p:nth-of-type(2) {
    animation-name: color-fill;
    animation-duration: 5s;
    visibility: visible;
    position: relative;
    top: 2px;
    color: #063449;
}
#active .icon {
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -12.5px;
}

/* create color fade animation from dark text to shade lighter than nav bar */
@keyframes color-fade {
    from {
        color: #063449;
    }
    to {
        color: #DD7827;
    }
}

/* create color-fill animation from nav bar color to dark text */
@keyframes color-fill {
    from {
        color: #d86508;
    }
    to {
        color: #063449;
    }
}

/* content */
#content {
    width: 100%;
    height: 77.5vh;    
    background: url("../images/hand-keys.jpg") no-repeat;
    background-position: 42%; 
    background-size: 1296px 864px; 
    overflow: hidden;
    padding: 25px 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    color: #D84300;
}

#content p {
    position: relative;
    font-size: max(3.5vh, 24.5px);
    font-style: oblique;
    margin: 2.5vh 0;
    background-color: rgba(8, 8, 8, 0.4);
    border-radius: 5px;
}

#tag-two {
    text-align: right;
}



/* footer */
footer { 
    height: max(7.5vh, 45px);
    position: fixed;
    bottom: 0px;
    line-height: max(7.5vh, 45px);
    width: 100%;
    background-color:#031F2c;
    z-index: 2;
    font-size: 1.6em;
}

#footer-spacing {
    margin: 0 auto;
    text-align: center;
    height: max(7.5vh, 45px);
}

button {
    color: #084966;
    font-weight: 700;
    font-size: 1rem;
    background-color: #D84300;
    border-radius: 10px;
    height: max(4.8vh, 30px);
    margin-left: 15%;
    margin-right: 15%;
    vertical-align: middle;
    width: 30%;
}


