@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu&display=swap');

body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
}

/* title and nav elements */
header {
    font-family: "Ubuntu", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
    
}

/* title */
#header-background {
    width: 100%;
}

#big-name {
    text-align: center;
    font-size: 280%;
    margin: 5% 0 0;
}

/* nav */
#menu li {
    list-style-type: none;
    display: inline-block;
    width: 17.5%;
}

#menu ul {
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
}

#menu p:nth-of-type(n+2) {
    visibility: hidden;
    position: absolute;
}

/* content */
#content {
    width: 100%;
    height: 77.5vh;    
    background: url("../images/hand-keys.jpg") no-repeat;
    background-position: 42%; 
    background-size: 1296px 864px; 
    overflow: hidden;
    padding: 25px 45px;
    box-sizing: border-box;
}

#content p {
    color: #D84300;
    font-size: 1.7em;
    font-style: oblique;
    margin: 2.5vh 0;
}

#tag-two {
    text-align: right;
}
